:root {
    --background-color: #000000; 
    --menu-color: #161618; 
    --sec-color: #0e0e0f;
    --border-color: #1F1D24;
    --alert-color: #ED4040;
    --blue-color:rgb(64, 90, 237);
}

body {
    background-color: var(--background-color);
    padding: 1rem;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10fr 1fr;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.control {
    background-color: var(--menu-color);
    height: 100%;
    padding: 1rem;
    min-width: 300px;
}
.screen {
    background-color: var(--background-color);
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
}
.data {
    background-color: var(--background-color);
    height: 87.7%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
    min-width: 400px;
    position: fixed;
    right: 1rem;
    top: 1rem;
}
.downbar {
    background-color: var(--sec-color);
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.data-1 {
    height: 100%;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.data-1 > h3 {
    margin: 0;
}

.data-1 > p {
    color: white;
    font-size: 15px;
    margin: 0;
}

.data-type {
    color: white;
    width: 100%;
    font-size: 25px;
    text-align: left;
}

#data1 {
    font-size: 100px;
    color: green;
}
#data2 {
    font-size: 90px;
    color: yellow;
}
#data3 {
    font-size: 90px;  
    color: var(--alert-color);  
}
#data4 {  
    font-size: 30px;
    color: white;
}
#data5 {
    font-size: 20px;
    color: white;
}

.akg {
    height: 100%;
    display: flex;
    border-bottom: 1px solid var(--border-color);   
    align-items: center;
    justify-content: left;
}

.dot {
    height: 0.1px;
    width: 0.1px;
    background-color: green;
    border-radius: 50%;
}

.top-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.nav-item {
    color: white;
    background-color: var(--sec-color);
    padding: 1rem;
    width: 45%;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.nav-item:hover {
    background-color: var(--blue-color);   
}

.power {
    background-color: var(--sec-color);
    width: 100%;
    height: 200px;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.power-title {
    color: white;
    font-weight: 300;
}

.power-bar {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.power-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.power-button {
    color: white;
    background-color: var(--border-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.control-buttons {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
}

.control-button {
    width: 100%;
    height: 5rem;
    font-size: 40px;
    border-radius: 2rem;
}

#charge {
    background-color: #eda240;
}

#shock {
    color: white;
    background-color: var(--alert-color);
}

#disarm {
    background-color: var(--blue-color);
}

#sync {
    background-color: var(--menu-color);
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-self: start;
}

.logo-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logo {
    height: 3rem;
}

.logo-title {
    color: white;
    margin: 0;
}

.show-bar {
    position: absolute;
    width: 10px;
    height: 150px;
    background-color: #000000;
    transition: left 106s;
}