<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>התחברות</title>
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body>
    <div class="logInBox">
        <h1>התחברות למערכת</h1>
        <div class="Inputtitle">שם משתמש:</div>
        <input type="username" name="username" class="input" id="username" autofocus placeholder="הזן שם משתמש" required>
        <div class="Inputtitle">סיסמה:</div>
        <input type="password" name="password" class="password" id="password" autofocus placeholder="הזן סיסמה" required>
    </div>
</body>
</html>