<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>התחברות</title>
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body dir="rtl">
    <div class="logInBox">
<<<<<<< HEAD
        <form class="form" id="logIn">
            <h1 class="title">התחברות למערכת</h1>
            <div class="error"></div>
            <div class="inputBox">
                <label for="usermame" class="label" >שם משתמש:</label>
                <input class="input" id="usermame" type="text" required autofocus placeholder="הזן שם משתמש">   
            </div>
            <div class="inputBox">
                <label for="password"  class="label" >סיסמה:</label>
                <input class="input" id="password" type="password" required autofocus placeholder="הזן סיסמה">   
            </div>
            <button class="submitButton" type="submit">התחבר</button>
            <p class="links">
                <a href="#" class="forgotPassword">שכחתי סיסמה?</a>
            </p>
        </form>
    </div>   
=======
        <h1>:התחברות למערכת</h1>
        <div class="Inputtitle">שם משתמש:</div>
        <input type="username" name="username" class="input" id="username" autofocus placeholder="הזן שם משתמש" required>
        <div class="Inputtitle">סיסמה:</div>
        <input type="password" name="password" class="password" id="password" autofocus placeholder="הזן סיסמה" required>
    </div>
>>>>>>> 6ba4ec14687427807f8d56cd7f39e80e1434f802
</body>
</html>
