<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הקורסים שלי</title>
    <link rel="stylesheet" href="/css/mycourses.css">
    <link rel="stylesheet" href="/css/coursBOx.css">
</head>
<body dir="rtl">
    <h1 class="Title">היי עומר, הקורסים שלך:</h1>
    <div class="courses">
        <div class="navOption" id="logout" onclick="location.href='/logout'">
            <span class="material-symbols-outlined">
                settings
                </span>
                 התנתקות
        </div>
    </div>
</body>
</html>