body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.logInBox {
    width: 600px;
    background-color: var(--color-white);
    height: 700px;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid;
    border-color: var(--color-grey);
    text-align: center;
}