<div class="coursBox">
    <div class="imageBox">
        <img class="image" src="/css/images/firstAidCours.jpg">
    </div>
    <div class="coursTitleBox">
        <h1 class="coursName">שם הקורס</h1>
        <p class="coursDes">תיאור הקורס</p>
    </div>
    <div class="coursActions">
        <button class="coursButton">התחל למידה</button>
    </div>
</div>